@model IEnumerable<Capstone02.Models.Transaction>


@{
    ViewData["Title"] = "PTA Fee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int overallNumberOfStudentsPaid = Model.Select(t => t.ParentId).Distinct().Count();
    decimal overallTotalPaidPTAFees = Model.Sum(t => t.PTAFee.Amount);
    int totalStudentsToday = ViewBag.TotalStudentsToday;
    decimal totalAmountToday = ViewBag.TotalAmountToday;
}


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue">
                <div class="inner">
                    <h3> @overallNumberOfStudentsPaid </h3>
                    <p> Number of Students Paid </p>
                </div>
                <div class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <a href="@Url.Action("ViewMoreStudentsPaid", "Home")" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3> ₱@overallTotalPaidPTAFees </h3>
                    <p> Overall Total Paid Fees </p>
                </div>
                <div class="icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-orange">
                <div class="inner">
                    <h3> ₱@totalAmountToday </h3>
                    <p> Paid Fees Today </p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red">
                <div class="inner">
                    <h3> @totalStudentsToday </h3>
                    <p> Students Paid Today </p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
@*     <div class="row">
        <div class="col-lg-3 col-sm-6">
            <a href="#">uiuxstream</a>
        </div>
    </div> *@
</div>

<table id="tbllist" class="table table-responsive-sm table-hover table-outline mb-0">

    <thead class="thead-light">
        <tr>

            <th>Cashier Name</th>
            <th>Payer</th>
            <th>PTA Fee Paid</th>
            <th>Amount</th>
            <th>Transaction Date</th>
     
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                    @* <td>
            <div> @Html.DisplayFor(modelItem => item.Id)</div>
            </td> *@

                <td>
                    <div>@Html.DisplayFor(modelItem => item.Employee.FullName)</div>
                </td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.Parent.ParentName)</div>
                </td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.PTAFee.Type)</div>
                </td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.PTAFee.Amount)</div>
                </td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.TransactionDate)</div>
                </td>
              
                @* <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class='bx bx-edit bx-burst-hover action-icon'></i>
                    </a>
                    |
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <i class='bx bx-detail bx-burst-hover action-icon'></i>
                    </a>
                    |
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class='bx bx-trash-alt bx-burst-hover action-icon'></i>
                    </a>
                </td> *@



            </tr>
        }
    </tbody>
</table>