@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> _roleManager



<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PTA</title>


    <!---LOADER--->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.14/signalr.min.js"></script>
    <link href="~/css/loading-bar (3).css" rel="stylesheet" />
    <script data-pace-options='{ "ajax": false }' src="~/lib/pace-progress/js/pace.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css' rel='stylesheet' />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Icons-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!---ICONS--->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?v=@DateTime.UtcNow.Ticks.ToString()" />
    <link rel="stylesheet" href="~/css/home.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />
    <!------TABLE-------->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.semanticui.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-html5-2.4.2/b-print-2.4.2/datatables.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-html5-2.4.2/b-print-2.4.2/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbllist').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'print', 'pdf', 'excel'
                ],
                "pageLength": 5,
            });
        });
    </script>
    <!-- Add this script in your shared layout or a separate script file -->


    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.7.0.js">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css">
    <!--EMERGENCY ALERT-->
    <script>
        // Function to handle "View Details" button click
        function viewDetails() {
            // Implement your logic to view details here
            alert('View Details button clicked!');
        }
    </script>



    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<body class="align-items-center margin-auto">



    @if (SignInManager.IsSignedIn(User))
    {

        @if (User.IsInRole("Parents") && !Context.Request.Path.StartsWithSegments("/ParentUI"))
        {
            // Redirect to Parents Interface
            <script>window.location.href = '@Url.Action("Index", "ParentUI")';</script>
        }

        else
        {
            <div class="row">
                <div class="sidebar open">
                    <div class="row logo_details">
                        <div class="logo_info">
                            <img src="/images/ICENHSLogo.png" alt="ICENHS Logo" class="img-fluid logo_image">
                            <div class="logo_name">PTAFCMS</div>
                        </div>
                        <i class="bx bx-menu" id="btn"></i>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <ul class="nav-list">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="bx bxs-dashboard"></i>
                                    <span class="link_name">Dashboard</span>
                                </a>
                                <span class="tooltip">Dashboard</span>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Employees" asp-action="Index">
                                    <i class="bx bx-walk"></i>
                                    <span class="link_name">Employees</span>
                                </a>
                                <span class="tooltip">Employees</span>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" href="#" role="button" id="ptafeesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-bus-school"></i>
                                        <span class="link_name">PTAFees</span>
                                    </a>
                                    <div class="dropdown-menu ml-5" aria-labelledby="ptafeesDropdown">
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="PTAFees" asp-action="Index">All PTAFees</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="RedCrosses" asp-action="Index">Red Cross</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="PTAMemberships" asp-action="Index">PTA Memberships</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="LearnersAreas" asp-action="Index">Learners Areas/Org</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="Insurances" asp-action="Index">Insurance</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="Publications" asp-action="Index">Publication</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="BoyGirlsScouts" asp-action="Index">Boy/Girls Scout</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="Anti_TBFundDrive" asp-action="Index">Anti-TB Fund Drive</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="RFIDs" asp-action="Index">RF I.D.</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="SSGs" asp-action="Index">SSG</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="GPTAElectricities" asp-action="Index">GPTA Electricity</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="AthleticsSportsFunds" asp-action="Index">Athletics/Sports Fund</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="ResearchFunds" asp-action="Index">Research Fund</a>
                                    </div>
                                </div>
                                <span class="tooltip">PTAFees</span>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Students" asp-action="Index">
                                    <i class="bx bx-history"></i>
                                    <span class="link_name">Students</span>
                                </a>
                                <span class="tooltip">Students</span>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Parents" asp-action="Index">
                                    <i class="bx bx-history"></i>
                                    <span class="link_name">Parents</span>
                                </a>
                                <span class="tooltip">Parents</span>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Transactions" asp-action="Index">
                                    <i class="bx bxs-inbox"></i>
                                    <span class="link_name">Transactions</span>
                                </a>
                                <span class="tooltip">Transactions</span>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Roles" asp-action="Index">
                                    <i class="bx bxs-inbox"></i>
                                    <span class="link_name">Roles</span>
                                </a>
                                <span class="tooltip">Roles</span>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="ParentUI" asp-action="Index">
                                    <i class="bx bxs-inbox"></i>
                                    <span class="link_name">Parent's Interface</span>
                                </a>
                                <span class="tooltip">Parent's Interface</span>
                            </li>
                        </ul>
                    }
                    else if (User.IsInRole("Employee"))
                    {
                        <ul class="nav-list">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="bx bxs-dashboard"></i>
                                    <span class="link_name">Dashboard</span>
                                </a>
                                <span class="tooltip">Dashboard</span>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a class="dropdown-toggle" href="#" role="button" id="ptafeesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-bus-school"></i>
                                        <span class="link_name">PTAFees</span>
                                    </a>
                                    <div class="dropdown-menu ml-5" aria-labelledby="ptafeesDropdown">
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="PTAFees" asp-action="Index">All PTAFees</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="RedCrosses" asp-action="Index">Red Cross</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="PTAMemberships" asp-action="Index">PTA Memberships</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="LearnersAreas" asp-action="Index">Learners Areas/Org</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="Insurances" asp-action="Index">Insurance</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="Publications" asp-action="Index">Publication</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="BoyGirlsScouts" asp-action="Index">Boy/Girls Scout</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="Anti_TBFundDrive" asp-action="Index">Anti-TB Fund Drive</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="RFIDs" asp-action="Index">RF I.D.</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="SSGs" asp-action="Index">SSG</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="GPTAElectricities" asp-action="Index">GPTA Electricity</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="AthleticsSportsFunds" asp-action="Index">Athletics/Sports Fund</a>
                                        <a class="dropdown-item text-white-50" asp-area="" asp-controller="ResearchFunds" asp-action="Index">Research Fund</a>
                                    </div>
                                </div>
                                <span class="tooltip">PTAFees</span>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Students" asp-action="Index">
                                    <i class="bx bx-history"></i>
                                    <span class="link_name">Students</span>
                                </a>
                                <span class="tooltip">Students</span>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Parents" asp-action="Index">
                                    <i class="bx bx-history"></i>
                                    <span class="link_name">Parents</span>
                                </a>
                                <span class="tooltip">Parents</span>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Transactions" asp-action="Index">
                                    <i class="bx bxs-inbox"></i>
                                    <span class="link_name">Transactions</span>
                                </a>
                                <span class="tooltip">Transactions</span>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Roles" asp-action="Index">
                                    <i class="bx bxs-inbox"></i>
                                    <span class="link_name">Roles</span>
                                </a>
                                <span class="tooltip">Roles</span>
                            </li>

                            <li>
                                <a asp-area="" asp-controller="ParentUI" asp-action="Index">
                                    <i class="bx bxs-inbox"></i>
                                    <span class="link_name">Parent's Interface</span>
                                </a>
                                <span class="tooltip">Parent's Interface</span>
                            </li>

                        </ul>
                    }
                  

                    <partial name="_LoginPartial" />
                </div>
                <section class="home-section">
                    <main class="main">
                        <div class="container">
                            @RenderBody()
                        </div>
                    </main>
                </section>
            </div>
        }
      
    }
    else
    {

    }


    <script>
        window.onload = function () {
            const sidebar = document.querySelector(".sidebar");
            const closeBtn = document.querySelector("#btn");
            const searchBtn = document.querySelector(".bx-search")

            closeBtn.addEventListener("click", function () {
                sidebar.classList.toggle("open")
                menuBtnChange()
            })

            searchBtn.addEventListener("click", function () {
                sidebar.classList.toggle("open")
                menuBtnChange()
            })

            function menuBtnChange() {
                if (sidebar.classList.contains("open")) {
                    closeBtn.classList.replace("bx-menu", "bx-menu-alt-right")
                } else {
                    closeBtn.classList.replace("bx-menu-alt-right", "bx-menu")
                }
            }
        }

    </script>



    <div class="container">

        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
    <div class="modal fade" id="emergencyModal" tabindex="-1" role="dialog" aria-labelledby="emergencyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emergencyModalLabel">Emergency Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="viewDetails()">View Details</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
}