@model IEnumerable<Capstone02.Models.School>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<header style="text-align: center; padding: 20px;">
    <h5>Iligan City East National High School - Santa Filomena</h5>
    <h6>Butuan - Cagayan de Oro - Iligan Rd, Iligan City, Lanao del Norte</h6>
    <h6>Since 1985</h6>
</header>

@*<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>*@

<div class="container mt-4">
    <table id="tbllist" class="table table-responsive-sm table-hover table-outline mb-0">
        <thead>
            <tr>
                <th>
                School
                @*@Html.DisplayNameFor(model => model.Name)*@
                </th>
                <th>
                School Address
                @*@Html.DisplayNameFor(model => model.Address)*@
                </th>
                <th></th>
            </tr>
        </thead>
    <tbody>

    @foreach (var item in Model) {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
		    @*<a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>*@
            @*<a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a>*@
			@*<a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
    }
        </tbody>
    </table>

</div>
